    <canvas id="box2d-demo"></canvas>
    
        <div class="ibody">

            <div class="jumbotron">
                <h1>Contáctanos</h1>
            </div>

            <div class="fcontacto">

                <div class="logo">
                <img src="images/logo.png" height="145" width="195">
                </div>

                <form method="post" name="fcontacto" id="fcontacto" action="./">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre:</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label>Email:</label>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                    </div>

                    <label>Asunto:</label>
                    <input type="text" name="asunto" id="asunto" class="form-control">
                    
                    <label>Mensaje:</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form-control"></textarea>
                    
                    <input type="submit" class="btn btn-info" value="Enviar">

                    <div id="respuesta" style="display: none;"></div>

                </form>
            </div>
        </div>